<div class="select_image">
  <label for="image_select">画像を選択してください。</label>
  <input id="image_select"  type="file" accept="image/*" (change)="fileChangeEvent($event)">
</div>

<br>

<div class="image_edit">
  <label for="cropFrame">切り取り枠を表示します。</label>
  <button id="cropFrame" (click)="showCropFrame()">Show Crop frame</button>
  <br>
  <label for="crop">切り取り枠で画像を切り取ります。</label>
  <button id="crop" (click)="cropImage($event)">Crop ingame</button>
</div>

<br>

<div class="crop-image-wrapper">
  <label for="cropImage_LI">切り取り画像（LI）</label><br>
  <canvas id="cropImage_LI" width="100" height="100"></canvas>
  <br>
  <label for="cropImageLM">切り取り画像（LM）</label><br>
  <canvas id="cropImage_LM" width="100" height="100"></canvas>
</div>

<br>

<div class="canvas-wrapper">
  <canvas id="imageLayer" width="600" height="700"></canvas>
  <canvas id="cropLayer" width="600" height="700" (mousedown)="selectCropFrame($event)" (mouseup)="unselectCropFrame($event)" (mousemove)="moveCropFrame($event)"></canvas>
</div>

<router-outlet />
